* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-block {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
/* COMINCIA HEADER TOP */
.header-top {
    background-color: #f5f8fa;
    padding: 25px;
    line-height: 30px;
    border-bottom: 1px solid #e0e6ed;
}

.row {
    color: #33475b;
    margin: 0 auto;
    line-height: 30px;
}

.row .fa-globe {
    font-size: 15px;
    float: left;
    line-height: 30px;
    margin-right: 5px;
}

.text-area a {
    color: #33475b;
    font-size: 13px;
    text-decoration: none;
}

.fa-globe, .fa-search, .english, .contact-us :hover {
    cursor: pointer;
}

.english {
    float: left;
    padding-left: 5px;
    padding-right: 15px;
}

#down-arrow {
    color: #7c98b6;
    padding: 0 5px;
    font-size: 12px;
}

.contact-us {
    float: left;
    padding: 0 15px;
}

.header-right {
    float: right;
    font-size: 11px;
}

.header-right i {
    color: #00a4bd;
    font-size: 15px;
    float: left;
    line-height: 30px;

}
/* REVIEW FOR DELETE */
#right-buttons {
    line-height: 30px;
}
/* REVIEW FOR DELETE */

#right-buttons li {
    list-style: none;
    float: left;
}

.header-right button {
    padding: 8px 20px;
}

#log-in {
    border: 1px solid #ff9a82;
    color: #ff7d5d;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #ffffff;

}

#log-in:hover {
    background-color: rgba(255, 191, 0, 0.1);
    cursor: pointer;
}

#get-hubspot {
    border:none;
    border-radius: 3px;
    background-color: #ff7a59;
    color: #ffffff;
}

#get-hubspot:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contact-us {
    border-left: 2px solid #d0d9e4;
}
/* FINISCE HEADER TOP */

/* COMINCIA HEADER BOTTOM */
.header-bottom {
    background-color: #ffffff;
    line-height: 50px;
    padding: 20px 0;
}

.logo {
    float: left;
    line-height: 50px;
    text-align: center;
}

#nav-bar ul {
    float: right;
}

#nav-bar li {
    list-style: none;
    float: left;
    color: #33475b;
    font-weight: 600;
    padding: 0 16px;
}

.fa-sort-down {
    font-size: 20px;
    padding-left: 10px;
    color: #7c98b6;
}

/* FNISCE HEADER BOTTOM */
/* COMINCIA MAIN */
.learn-more {
    background-color: #425b76;
}

.learn-more-content {
    padding: 20px 0;

}

.learn-more-content .message {
    float: left;
    color: white;
    line-height: 30px;

}

.message  {
    width: 80%;
    float: left;
}

.button-block {
    width: 20%;
    float: right;
    padding-top: 10px;

}

.button-block button {
    float: right;
    padding: 10px 20px;
    border-radius: 3px;
    color: #33475b;
    font-size: 13px;
    font-weight: 600;

}

.grow {
    background-color: #fff2ee;

}

.bg-grow {
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg');
    background-repeat: no-repeat;

}

.grow-content {
    padding-top: 70px;
    padding-bottom: 100px;
    width: 40%;

}

.grow-content .text-top  {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #33475b;
}

.grow-content .text-middle {
    font-size: 15px;
    padding-bottom: 25px;

}

#get-button {
    padding: 20px 45px;
    background-color: #ff7a59;
    color: white;
    border-radius: 3px;
    font-size: 16px;
}

.grow-content .text-bottom {
    width: 50%;
    padding-top: 25px;
    font-size: 12px;
}

.better-together {
    background-color: #f5f8fa;
}

.better-together-test {
    height: 1600px;
}

.award-winning {
    background-color: #00acb5;
}

.award-winning {
    height: 400px;
}

.customers {
    background-color: #ffffff
}

.customers-test {
    height: 1000px;
}

/* FINISCE MAIN */

/* COMINCIA FOOTER */

.footer {
    background-color: #33475b
}

.footer-test {
    height: 800px;
}

/* FINISHE FOOTER */
