* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /*color:#33475b;*/
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-block {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
/* COMINCIA HEADER TOP */
.header-top {
    background-color: #f5f8fa;
    padding: 25px;
    line-height: 30px;
    border-bottom: 1px solid #e0e6ed;
}

.row {
    color: #33475b;
    margin: 0 auto;
    line-height: 30px;
}

.row .fa-globe {
    font-size: 15px;
    float: left;
    line-height: 30px;
    margin-right: 5px;
}

.text-area a {
    color: #33475b;
    font-size: 13px;
    text-decoration: none;
}

.fa-globe, .fa-search, .english, .contact-us :hover {
    cursor: pointer;
}

.english {
    float: left;
    padding-left: 5px;
    padding-right: 15px;
}

#down-arrow {
    color: #7c98b6;
    padding: 0 5px;
    font-size: 12px;
}

.contact-us {
    float: left;
    padding: 0 15px;
}

.header-right {
    float: right;
    font-size: 11px;
}

.header-right i {
    color: #00a4bd;
    font-size: 15px;
    float: left;
    line-height: 30px;

}
/* REVIEW FOR DELETE */
#right-buttons {
    line-height: 30px;
}
/* REVIEW FOR DELETE */

#right-buttons li {
    list-style: none;
    float: left;
}

.header-right button {
    padding: 8px 20px;
}

#log-in {
    border: 1px solid #ff9a82;
    color: #ff7d5d;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #ffffff;

}

#log-in:hover {
    background-color: rgba(255, 191, 0, 0.1);
    cursor: pointer;
}

.orange-button {
    border:none;
    border-radius: 3px;
    background-color: #ff7a59;
    color: #ffffff;
}

.orange-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contact-us {
    border-left: 2px solid #d0d9e4;
}
/* FINISCE HEADER TOP */

/* COMINCIA HEADER BOTTOM */
.header-bottom {
    background-color: #ffffff;
    line-height: 50px;
    padding: 20px 0;
}

.logo {
    float: left;
    line-height: 50px;
    text-align: center;
}

#nav-bar ul {
    float: right;
}

#nav-bar li {
    list-style: none;
    float: left;
    color: #33475b;
    font-weight: 600;
    padding: 0 16px;
}

.fa-sort-down {
    font-size: 20px;
    padding-left: 10px;
    color: #7c98b6;
}

/* FNISCE HEADER BOTTOM */
/* COMINCIA MAIN */
.learn-more {
    background-color: #425b76;
}

.learn-more-content {
    padding: 20px 0;

}

.learn-more-content .message {
    float: left;
    color: white;
    line-height: 30px;
}

.learn-more-content .message  {
    width: 80%;
    float: left;
}

.button-block {
    width: 20%;
    float: right;
    padding-top: 10px;

}

.button-block button {
    float: right;
    padding: 10px 20px;
    border-radius: 3px;
    color: #33475b;
    font-size: 13px;
    font-weight: 600;

}

.grow {
    background-color: #fff2ee;

}

.bg-grow {
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg');
    background-repeat: no-repeat;

}

.grow-content {
    padding-top: 70px;
    padding-bottom: 100px;
    width: 40%;

}

.grow-content .text-top  {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #33475b;
}

.grow-content .text-middle {
    font-size: 15px;
    padding-bottom: 25px;

}

.get-button {
    padding: 20px 45px;
    background-color: #ff7a59;
    color: white;
    border-radius: 3px;
    font-size: 16px;
}

.grow-content .text-bottom {
    width: 50%;
    padding-top: 25px;
    font-size: 12px;
}

.better-together {
    background-color: #f5f8fa;

}

.better-together-content {
    color: #33475b;
    width: 90%;
    margin: 0 auto;
    padding: 150px 0;


}

.cube-block {
    text-align: center;
    padding-bottom: 50px;
}

.cube-block h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

.cube-block  img{
    height: 150px;
    width: 220px;
}

.cube-block .paragraph {
    padding: 0 90px;
    font-size: 16px;
    line-height: 25px;
}

.crm-block {
    background-color: #ffffff;
    padding: 20px 10px;
}

.icon-button {
    width: 35%;
    text-align: center;
    float: left;
}

.icon-button img {
    height: 150px;
    width: 100%;
    padding: 20px 20px;
    float: left
}

.crm-button {
    font-size: 12px;
    padding: 10px 20px;

}

.crm-text {
    width: 60%;
    float: left;
}

.crm-text p {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.row-hr {
    position: relative;

}

.popular-features {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.row-hr hr {
    border-bottom: 1px solid #e0e6ed;
    width: 80%;
    position: absolute;
    top: 45%;
    left: 26%;

}

.crm-text .features-list {
    list-style: none;
}

.crm-text ul {
    float: left;
}

.crm-text li {
    float: left;
    font-size: 12px;
    padding-right: 15px;

}

.crm-text li img {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.cards-block {

    margin-top: 30px;
}

.card {
    width: 31.33333%;
    float: left;
    text-align: center;
    padding: 30px 30px;
    background-color: #ffffff;
    border-radius: 3px;
}

.card h3 {
    font-size: 22px;
}

.card .message {
    font-size: 13px;
    text-align: left;
    margin: 15px 0;
    line-height: 20px;
}

.card img {
    height: 150px;
}

.left, .middle {
    margin-right: 3%;
}

.card hr {
    border-top: 1px solid #e0e6ed;
    text-align: center;
    margin: 20px auto;
}

.card .list {
    text-align: left;
    font-size: 13px;
    margin: 20px 0;
}

.card .list p:before {
    content: '';
    background: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg');
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}

.card .get-started {
    padding: 10px 25px;
    font-size: 14px;
}


/* Sample taken from hubspot
.crm-text li:before {
    background: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg');
    height: 15px;
    width: 15px;
    display: inline-block;
    content: '';
    margin-right: 10px;
}*/

.award-winning {
    background-color: #00acb5;
    background-image: linear-gradient(to right,#00a4bd,#00b6ac);
}

.award-winning-content {
    padding: 130px 0;
    color: white;
}

.award-winning-content .title {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin: 0 160px;
}

.award-winning-content .header-message {
    text-align: center;
    font-size: 16px;
    margin: 0 150px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.award-winning-content table {
    width: 100%;
    border-collapse: collapse;
}

.award-winning-content table tr:first-of-type {
    border-bottom: 1px solid #ffffff;
}

.award-winning-content table td {
    text-align: center;
    padding: 30px 50px;
    border-right: 1px solid #ffffff;
    width: 25%;
}

.award-winning-content table td:last-of-type {
    border-right: none;
}

.award-winning-content table h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.award-winning-content table tr .with-plus:after {
    content: '+';
    font-size: 14px;
    vertical-align: middle;

}

.award-winning-content table td p {
    font-size: 14px;
    text-transform: lowercase;
}

.customers {
    background-color: #ffffff
}

.customers-content {
}

.top-row {
    margin: 0 50px;
    padding-top: 100px;
}

.top-row .left-block {
    float: left;
    width: 40%;
}

.top-row .left-block h2 {
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
}

.top-row .left-block p {
    font-size: 20px;
    line-height: 30px;
    padding-right: 100px;
    font-family: 'Nunito Sans', sans-serif;
}

.top-row .right-block {
    float: right;
    width: 60%;
}

.top-row .right-block .cards-top {

}

.top-row .right-block .card {
    width: 25%;
    padding: 20px;

}

.top-row .right-block .card img {
    height: 100%;
    width: 100%;
}

.bottom-row {
    padding-top: 140px;
    padding-bottom: 120px;
}

.bottom-row .left-block {
    width: 45%;
    float: left;
    text-align: left;

}

.bottom-row .left-block .text-top {
    font-size: 22px;

}

.bottom-row .left-block .text-middle {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.bottom-row .left-block .text-bottom {
    font-size: 12px;
    padding-top: 30px;
}

.bottom-row .right-block {
    width: 55%;
    display: inline-block;

}

.bottom-row .right-block img {
    float: right;
    height: 400px;
    width: 350px;
    text-align: right;

}

/* FINISCE MAIN */

/* COMINCIA FOOTER */

.footer {
    background-color: #33475b
}

.footer-test {
    height: 800px;
}

/* FINISHE FOOTER */
